@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
  --dark: hsl(0, 0%, 41%);
  --dark-Gray: hsl(0, 0%, 55%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
}
body {
  overflow-x: hidden;
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
  transition: all 0.6s ease-in-out;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Container {
}
nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}
header {
  background-image: url("./images/desktop/image-hero.jpg");
  background-size: fill;
  background-repeat: no-repeat;
  padding-inline: 180px;
  padding-top: 3rem;
  height: 600px;
  width: 100vw;
  font-family: "Alata", sans-serif;
}
.menuBar {
  display: none;
}
.hero {
  margin-block: 5rem;
  border: 2px solid var(--white);
  width: 30rem;
  padding: 20px;
  text-transform: uppercase;
  color: var(--white);
  font-size: 60px;
  font-family: "Josefin Sans", sans-serif;
}
.featured {
  margin-top: 80px;
  padding-inline: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
}
.featured .title {
  font-size: 30px;
  text-transform: uppercase;
  margin-block: 20px;
}
.imgsection img {
  width: 600px;
  height: 400px;
  object-fit: fill;
}
.textsection {
  margin-top: 200px;
  background-color: var(--white);
  width: 700px;
  padding: 40px 0px 40px;
  margin-left: -50px;
  padding-left: 50px;
}
.textsection :nth-child(2) {
  font-size: 20px;
  line-height: 25px;
}
.creation {
  padding-inline: 190px;
  margin-top: 20px;
}
.creation-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}
.creation-title p {
  font-size: 30px;
}
.creation-title button {
  background: var(--black);
  color: var(--white);
  padding-inline: 20px;
  padding-block: 4px;
}
.creation-img {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  position: relative;
  margin-bottom: 20px;
}
.creation-img section {
  position: relative;
  color: white;
}
.creation-img section span {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 40px;
  margin-left: 40px;

  font-size: 30px;
  text-transform: uppercase;
}
.overlayer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.overlayer:hover {
  background: rgba(255, 255, 255, 0.411);
  cursor: pointer;
}

footer {
  padding-inline: 100px;
  background: var(--black);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 30px;
}

.logosection {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.icons {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: end;
}

.icons section {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}
.icons section span img {
  width: 20px;
  height: 20px;
}
.logosection img {
  margin-top: 20px;
  height: 30px;
  width: 200px;
}
li,
button,
span img {
  cursor: pointer;
}

@media (max-width: 480px) {
  .list {
    display: none;
  }
  .menuBar {
    display: block;
  }
  header {
    background-image: url("./images/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    padding-inline: 5px;
    padding-top: 3rem;
    height: 50vh;
    width: 100vw;
    font-family: "Alata", sans-serif;
  }
  .hero {
    margin-block: 2rem;
    margin-inline: auto;
    border: 2px solid var(--white);
    width: 100%;
    height: 40%;
    padding: 20px;
    text-transform: uppercase;
    color: var(--white);
    font-size: 30px;
    font-family: "Josefin Sans", sans-serif;
  }
  .logo {
    height: 20px;
    width: 100px;
  }
  .featured {
    margin-top: 20px;
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
  }
  .featured .title {
    font-size: 30px;
    text-transform: uppercase;
    margin-block: 20px;
  }
  .imgsection img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .textsection {
    margin-top: 20px;
    background-color: var(--white);
    width: 100%;
    padding: 10px 0px 10px;
    margin-left: 0px;
    padding-left: 0px;
  }
  .textsection :nth-child(2) {
    font-size: 20px;
    line-height: 25px;
  }
  .creation {
    padding-inline: 10px;
    margin-top: 20px;
  }

  .creation-title {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 30px;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    align-items: center;
  }
  .creation-title p {
    font-size: 20px;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
  }
  .creation-title button {
    background: var(--black);
    color: var(--white);
    padding-inline: 20px;
    width: 200px;
    padding-block: 4px;
  }
  .creation-img {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    margin-bottom: 20px;
  }
  .creation-img section {
    position: relative;
    color: white;
  }
  .creation-img section span {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 40px;
    margin-left: 40px;

    font-size: 30px;
    text-transform: uppercase;
  }
  .creation-img section img {
    width: 100%;
  }
  .overlayer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }
  .overlayer:hover {
    background: rgba(255, 255, 255, 0.411);
    cursor: pointer;
  }

  footer {
    padding-inline: 10px;
    background: var(--black);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 30px;
  }

  .logosection {
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .icons {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .icons section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
  }
  .footer-links {
    display: none;
  }
  .icons section span img {
    width: 20px;
    height: 20px;
  }
  .logosection img {
    margin-top: 20px;
    height: 30px;
    width: 200px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .list {
    display: none;
  }
  .menuBar {
    display: block;
  }
  header {
    background-image: url("./images/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    padding-inline: 5px;
    padding-top: 3rem;
    height: 60vh;
    width: 70vw;
    font-family: "Alata", sans-serif;
  }
  .hero {
    margin-block: 2rem;
    border: 2px solid var(--white);
    width: 200px;
    padding: 20px;
    text-transform: uppercase;
    color: var(--white);
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
  }
  .logo {
    height: 20px;
    width: 100px;
  }
  .featured {
    margin-top: 20px;
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
  }
  .featured .title {
    font-size: 30px;
    text-transform: uppercase;
    margin-block: 20px;
  }
  .imgsection img {
    width: 80vw;
    height: 100%;
    object-fit: fill;
  }
  .textsection {
    margin-top: 200px;
    background-color: var(--white);
    width: 100%;
    padding: 10px 0px 10px;
    margin-left: -50px;
    padding-left: 50px;
  }
  .textsection :nth-child(2) {
    font-size: 20px;
    line-height: 25px;
  }
}
