@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
  --dark: hsl(0, 0%, 41%);
  --dark-Gray: hsl(0, 0%, 55%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
}
